<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
   <display-name>SecurityServices</display-name>
   <description>SecurityServices web application</description>
   <servlet>
      <servlet-name>JAXRPCEndpoint</servlet-name>
      <display-name>JAXRPCEndpoint</display-name>
      <description>Endpoint for SecurityServices</description>
      <servlet-class>com.sun.xml.rpc.server.http.JAXRPCServlet</servlet-class>
      <init-param>
         <param-name>configuration.file</param-name>
         <param-value>/WEB-INF/classes/SecurityManagerService_Config.properties</param-value>
      </init-param>
      <load-on-startup>0</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>JAXRPCEndpoint</servlet-name>
      <url-pattern>/jaxrpc/*</url-pattern>
   </servlet-mapping>
   <session-config>
      <session-timeout>60</session-timeout>
   </session-config>

    <!--
    <resource-ref>
       <res-ref-name>jdbc/SecurityManagerDB</res-ref-name>
       <res-type>javax.sql.DataSource</res-type>
       <res-auth>Container</res-auth>
    </resource-ref>
    -->
	<!--
    <env-entry>
        <env-entry-name>DBConnectionUrl</env-entry-name>
        <env-entry-value>jdbc:hsqldb:work/discus-security-db/discus-security</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>

    <env-entry>
        <env-entry-name>DBDriverClass</env-entry-name>
        <env-entry-value>org.hsqldb.jdbcDriver</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>

    <env-entry>
        <env-entry-name>DBUsername</env-entry-name>
        <env-entry-value>sa</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>

    <env-entry>
        <env-entry-name>DBPassword</env-entry-name>
        <env-entry-value></env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>



    <env-entry>
        <env-entry-name>KeyStorePass</env-entry-name>
        <env-entry-value>discus</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>

    <env-entry>
        <env-entry-name>PrivateKeyAlias</env-entry-name>
        <env-entry-value>1</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>

    <env-entry>
        <env-entry-name>PrivateKeyPass</env-entry-name>
        <env-entry-value>discus</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>

    <env-entry>
        <env-entry-name>CertAlias</env-entry-name>
        <env-entry-value>1</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
	-->

</web-app>

